# Defining the exact version will make sure things don't break

sphinx==3.5.2
sphinx_rtd_theme==0.5.2
readthedocs-sphinx-search==0.1.0

sphinx-copybutton==0.3.1
sphinx-markdown-tables==0.0.15

torch >= 1.0.0
tqdm >= 4.27.0
jieba >= 0.42.1
transformers >= 3.0.0
zhon >= 1.1.5
scipy >= 1.2.0
scikit-learn >= 0.17.0
ark-nlp >= 0.0.6
pandas >= 1.0.0
